<partial name="Partial/_Slider"/>

<section>
    <div class="container">
        <div class="row">
            <partial name="Partial/_LeftSideBar"/>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_FeaturesItems"/>
                <partial name="Partial/_CategoryTab"/>
                <partial name="Partial/_RecomendedItems"/>

            </div>
        </div>
    </div>
</section>