<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebStore - Главная</title>
</head>
<body>

    <p>Home controller - View Index</p>
    <p><a href="~/Home/employees">Список сотрудников</a></p>
</body>
</html>
