@using WebShop.Interfaces
@using WebShop.Interfaces.Mapping
@model IEnumerable<string>
@inject IProductData ProductData
@{
    var product = ProductData.GetProducts().Take(6).ToView().OrderBy(p => p.Order);
}
<partial name="Partial/_Slider" />

<section>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <p>@item</p>
            }

            <partial name="Partial/_LeftSideBar" />

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_FeaturesItems" model="product" />
                <partial name="Partial/_CategoryTab" />
                <partial name="Partial/_RecomendedItems" />

            </div>
        </div>
    </div>
</section>